<div class="grid-container">
    <h1>Dashboard</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title> Add task to list ... </mat-card-title>
        </mat-card-header>
        <br />
        <mat-card-content>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput [formControl]="FormControl" placeholder="Ex. pat" [(ngModel)]="newTask.title" />
                    <mat-error *ngIf="FormControl.hasError('required')">
                    Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>List</mat-label>
                    <mat-select
                    [formControl]="FormControl"
                    value="Ex. pat"
                    [(ngModel)]="newTask.list_id"
                    >
                    <mat-option *ngFor="let list of lists" [value]="list._id">{{
                        list.title
                    }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="FormControl.hasError('required')">
                        List is <strong>required</strong>
                        </mat-error>
                </mat-form-field>
    
                <button mat-raised-button color="primary" (click)="add()">Add</button>
            </form>
        </mat-card-content>
    </mat-card>
    <br />

    <mat-card>
        <mat-card-header>
            <mat-card-title>My lists</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngFor="let list of lists">
            <div class="container">
                <h2>{{list.title}}</h2>
                <div cdkDropList id="{{list._id}}" [cdkDropListData]="filterList(list._id)" [cdkDropListConnectedTo]="connectedTo" class="list" (cdkDropListDropped)="drop($event)">
                    <div class="box" *ngFor="let item of filterList(list._id)" cdkDrag>
                        {{ item.title }}
                        <div>
                            <button mat-icon-button color="warn" aria-label="Delete" (click)="delete(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button *ngIf="!item.status" mat-icon-button color="primary" aria-label="check_box_outline_blank" (click)="checked(item)">
                                <mat-icon>check_box_outline_blank</mat-icon>
                            </button>
                            <button *ngIf="item.status" mat-icon-button color="primary" aria-label="check_box" (click)="checked(item)">
                                <mat-icon>check_box</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <br />
    </mat-card>
</div>
  